@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: rgb(179, 163, 163);
  --muted: rgb(130, 118, 118);
  --border: rgb(60, 55, 55);
  --surface: rgb(30, 28, 28);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-surface: var(--surface);
  --font-sans: var(--font-pixelify-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
